name: Main

on: workflow_dispatch

jobs:
  oxipng:
    name: oxipng
    runs-on: ubuntu-slim
    steps:
      - name: Install and run oxipng
        run: |
          sudo apt update
          sudo apt install oxipng -y
          /usr/bin/find . -type f -iname "*.png" ! -path "*/.haxelib/*" ! -path "*/export/*" -exec oxipng -o max -z -s -a -v {} \;

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: images
          path: |
            docs
            icons
            images
            images-png
